.student-info{
  display: flex;
  width: 70%;
  margin: 30px auto;
  justify-content: space-around;
}
ul{
  list-style: none;
}
#result{
  position: fixed;
  background: white;
  padding: 20px;
  right: 20px;
  top: 20px;
}
.bgGreen{
  background: green;
}
.bgRed{
  background: red;
}
.test-question{
  font-weight: bold;
}
.key-word{
font-size: 19px;
font-style: italic;
}
pre{
  color: blue;
  cursor: pointer;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  z-index: 1;
}

.timer__container{
  display: flex;
  gap: 10px;
  font-size: 24px;
}